# Porta na qual o servidor backend irá escutar
PORT=3002

# URL do servidor PocketBase
POCKETBASE_URL=http://seu-servidor-pocketbase:porta

# Credenciais de administrador do PocketBase para autenticação de microsserviço
POCKETBASE_ADMIN_EMAIL=seu-email@dominio.com
POCKETBASE_ADMIN_PASSWORD=sua-senha
